<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>G&R Passagens Aéreas</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets\css\fontawesome.css">
    <link rel="stylesheet" href="assets\css\style.css">
    <link rel="stylesheet" href="assets\css\owl.css">


</head>

<body>
    <form action="{{url_for('pagina_autorizada')}}" method="post">
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- Header -->
        <header class="">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <h2>G&R Agência de <em>Viagens</em></h2>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Página Inicial
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="packages.html">Pacotes</a></li>

                            <li class="nav-item active"><a class="nav-link" href="about-us.html">Sobre Nós</a></li>

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">Mais</a>
                            </li>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="testimonials.html">Feedbacks</a>
                                <a class="dropdown-item" href="terms.html"></a>
                            </div>

                            <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>

                            <li class="nav-item"><a class="nav-link" href="cadastro.html">Cadastre-se</a></li>

                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <!-- Page Content -->
        <!-- Banner Starts Here -->
        <div class="banner header-text">
            <div class="owl-banner owl-carousel">
                <div class="banner-item-01">
                    <div class="text-content">
                        <h4>Sua Passagem está Aqui!</h4>
                        <h2>a Viagem dos sonhos</h2>
                    </div>
                </div>
                <div class="banner-item-02">
                    <div class="text-content">
                        <h4></h4>
                        <h2></h2>
                    </div>
                </div>
                <div class="banner-item-03">
                    <div class="text-content">
                        <h4></h4>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Ends Here -->

        <div class="latest-products">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Promoções do Dia</h2>
                            <a href="packages.html">veja mais <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="package-details-fortaleza.html"><img src="img/Fortal.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="package-details-fortaleza.html">
                                    <h4>Pacote para Fortaleza</h4>
                                </a>
                                <h9>Preço por Pessoa</h9>
                                <h6>R$ 1.380</h6>

                                <p></p>

                                <small>
                                    <strong title="Available"><i class="fa fa-calendar"></i> 24/05 - 30/05</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 5 noites</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Voo direto</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="package-details-joaoPE.html"><img src="img/jj.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="package-details-joaoPE.html">
                                    <h4>Pacote para João Pessoa</h4>
                                </a>
                                <h9>Preço por Pessoa</h9>
                                <h6>R$ 1.397</h6>

                                <p></p>

                                <small>
                                    <strong title="Available"><i class="fa fa-calendar"></i> 01/06 - 09/06</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 8 noites</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Voo direto</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="package-details-Natal.html"><img src="img/Natal_RN.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="package-details-Natal.html">
                                    <h4>Pacote para Natal-Rn</h4>
                                </a>
                                <h9>Preço por Pessoa</h9>
                                <h6>R$ 1.256</h6>

                                <p></p>

                                <small>
                                    <strong title="Available"><i class="fa fa-calendar"></i> 15/07 - 21/07</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 5 noites</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Voo direto</strong>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="best-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Bem-vindos à G&R, onde sua viagem é nossa prioridade!</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="left-content">
                            <p>Na G&R, somos apaixonados por conectar pessoas e destinos ao redor do mundo com
                                excelência,
                                conforto e
                                segurança. Fundada com a missão de oferecer uma experiência de voo inigualável, nossa
                                empresa aérea tem se
                                destacado no setor por sua inovação e compromisso com a qualidade.</p>
                            <ul class="featured-list">
                                <li>Excelência no Serviço<a href="#">Na G&R, acreditamos que cada detalhe faz a
                                        diferença.
                                        Nossa equipe
                                        altamente treinada está comprometida em proporcionar um atendimento de classe
                                        mundial, assegurando que
                                        suas necessidades sejam atendidas antes, durante e após o voo.</a></li>
                                <li>Segurança<a href="#">A segurança de nossos passageiros e colaboradores é nossa
                                        prioridade máxima.
                                        Operamos com os mais altos padrões de segurança e manutenção, utilizando
                                        tecnologias
                                        de ponta e
                                        procedimentos rigorosos para garantir que cada voo seja seguro e confiável.</a>
                                </li>
                                <li>Inovação<a href="#">Estamos na vanguarda da tecnologia aeronáutica, investindo
                                        continuamente em nossa
                                        frota e sistemas para oferecer uma experiência de voo moderna e eficiente. Nossa
                                        frota conta com
                                        aeronaves de última geração, equipadas com as mais recentes comodidades para
                                        tornar
                                        sua viagem mais
                                        agradável.

                                    </a></li>
                                <li>Conectividade<a href="#"> Com uma vasta rede de destinos, a G&R conecta você aos
                                        lugares
                                        que mais
                                        importam, seja para negócios ou lazer. Oferecemos uma ampla gama de voos diretos
                                        e
                                        conexões
                                        convenientes para facilitar sua jornada.</a></li>
                            </ul>
                            <a href="about-us.html" class="filled-button">Leia Mais Sobre Nós</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="assets/images/about-1-570x350.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Conheça Pernambuco</h2>

                            <a href="packages.html">outros destinos <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-2">
                        <div class="service-item">
                            <a href="#" class="services-item-image"><img src="img/carneiros.jpg" class="img-fluid"
                                    alt=""></a>

                            <div class="down-content">
                                <h4><a href="#">Praia dos carneiros</a></h4>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2">
                        <div class="service-item">
                            <a href="#" class="services-item-image"><img src="img/porto_galinhas.jpg" class="img-fluid"
                                    alt=""></a>

                            <div class="down-content">
                                <h4><a href="#">Porto de Galinhas</a></h4>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2">
                        <div class="service-item">
                            <a href="#" class="services-item-image"><img src="img/Recife.jpg" class="img-fluid"
                                    alt=""></a>

                            <div class="down-content">
                                <h4><a href="#">Recife</a></h4>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="happy-clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Feedback de Clientes</h2>

                            <a href="testimonials.html">Veja Mais <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-clients owl-carousel text-center">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>Carlos A.</h4>
                                    <p class="n-m"><em>"A experiência de voar com a G&R foi simplesmente excepcional!
                                            Desde
                                            o momento da
                                            compra das passagens até o desembarque, tudo foi perfeito. O site é fácil de
                                            usar, e o atendimento
                                            ao cliente é de primeira classe. Com certeza, voltarei a viajar com a
                                            G&R!"</em>
                                    </p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>Mariana L.</h4>
                                    <p class="n-m"><em>"Fiquei muito impressionada com a eficiência e a cordialidade da
                                            G&R.
                                            Comprei minhas
                                            passagens online sem nenhum problema e, ao chegar no aeroporto, fui recebida
                                            por
                                            uma equipe super
                                            atenciosa. O voo foi tranquilo, e o serviço de bordo, impecável. Recomendo
                                            demais!"</em></p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>João M.
                                    </h4>
                                    <p class="n-m"><em>"Comprei minhas passagens aéreas pela G&R e tive uma experiência
                                            incrível. O processo
                                            de compra foi rápido e fácil, e o atendimento ao cliente foi excelente,
                                            respondendo a todas as
                                            minhas dúvidas prontamente. A viagem foi confortável e pontual. Parabéns,
                                            G&R!"</em></p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>Ana P.</h4>
                                    <p class="n-m"><em>"Viajar com a G&R foi uma das melhores decisões que já tomei. O
                                            site
                                            é intuitivo, e
                                            as ofertas de passagens são excelentes. Além disso, a equipe de bordo foi
                                            extremamente amigável e
                                            prestativa. Tive uma viagem tranquila e prazerosa. Recomendo a todos!"</em>
                                    </p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>Ricardo S.</h4>
                                    <p class="n-m"><em>"Minha primeira viagem com a G&R superou todas as expectativas. A
                                            compra das
                                            passagens foi simples e rápida, e a comunicação da empresa é excelente.
                                            Durante
                                            o voo, fui muito bem
                                            atendido e me senti realmente valorizado como cliente. Certamente viajarei
                                            novamente com a
                                            G&R."</em></p>
                                </div>
                            </div>

                            <div class="service-item">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="down-content">
                                    <h4>Celestino T.</h4>
                                    <p class="n-m"><em>"A G&R é, sem dúvida, a melhor companhia aérea com a qual já
                                            viajei.
                                            A compra das
                                            passagens foi um processo sem complicações, e o atendimento ao cliente foi
                                            fantástico. Durante o
                                            voo, pude aproveitar um serviço de bordo excepcional e um conforto que
                                            raramente
                                            se encontra. Cinco
                                            estrelas!"</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Alguma Dúvida ou Reclamação ?</h4>
                                    <p>Entre em contato conosco</p>
                                </div>
                                <div class="col-lg-4 col-md-6 text-right">
                                    <a href="contact.html" class="filled-button">Clique Aqui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-content">
                            <p>Desenvolvido por Gabriel Narducci e Ramon Luz <a href="https://www.phpjabbers.com/"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


        <!-- Additional Scripts -->
        <script src="assets/js/custom.js"></script>
        <script src="assets/js/owl.js"></script>
    </form>
</body>

</html>